.page {
}
.wrapper {
}
._footer {
  background-color: $Black;
}
footer {
  display: flex;
  margin-top: calc($Index * 1.8);
  margin-bottom: calc($Index * 1);
}
._footer-header {
  flex-direction: column;
  align-items: start;
  margin-top: 0;
  img {
    width: calc($Index * 6.4);
  }
}
.logo {
}
.nav__link {
}
.copyright-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.socials {
  display: flex;
}
.social__img {
  width: calc($Index * 1.1);
  height: calc($Index * 1.1);
  margin-left: calc($Index * 0.8);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: $White;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
  }
  &:hover::after {
    transform: scaleX(1);
  }
  &:hover {
    cursor: pointer;
  }
}
._facebook {
  background: center / cover no-repeat url("../images/icon-facebook.svg");
}
._twitter {
  background: center / cover no-repeat url("../images/icon-twitter.svg");
}
._Pinterest {
  background: center / cover no-repeat url("../images/icon-pinterest.svg");
}
._instagram {
  background: center / cover no-repeat url("../images/icon-instagram.svg");
}
.copyright {
  color: $Dark-Gray;
  font-family: Alata;
  font-size: calc($Index * 0.67);
  
}