.introduce {
  margin-top: calc($Index * 7.1);
  margin-bottom: calc($Index * 7.74);
  padding-bottom: calc($Index * 4.6);
}
.introduce__image {
  position: absolute;
  width: calc($Index * 34);
}
.introduce__text {
  top: calc($Index * 9);
  left: calc($Index * 24);
  position: relative;
  padding: calc($Index * 4.27) 0 calc($Index * 4.5) calc($Index * 4.27);
  width: 48%;
  background-color: $White;
  .introduce__heading {
    font-size: calc($Index * 2.13);
    line-height: 1.1;
    font-family: "Josefin Sans";
    font-weight: 400;
    text-transform: uppercase;
  }
  .introduce__paragraph {
    font-family: Alata;
    margin-top: 30px;
    line-height: 1.5;
    color: $Dark-Gray;
    font-size: calc($Index * 0.67);
  }
}
