@import "_reset";
@import "_typography";
@import "_variables";
@import "_hamburgers";
@import "_base";
@import "_emphatic";
@import "_hero-section";
@import "_introduce";
@import "_portfolio";
@import "_footer";


::-webkit-scrollbar {
  width: 0; }

.page {
  display: flex;
  justify-content: center; }

.wrapper {
  max-width: calc($Index * 52.2);
  width: 100%;
  padding: 0 30px; }

.none {
  display: none; }


@import "_adaptive"